{% extends 'base.html' %}

{% block content %}

<div class="section">
    <img class="user--avatar--lg" src="{{user.avatar.url}}">
<h1>My account</h1>
    <a class="btn btn--warning" href="{% url 'edit_account' %}">Edit</a>
    <a class="btn btn--warning" href="{% url 'change-password' %}">Password reset</a>
    <a class="btn btn--warning" href="{% url 'profile' user.id %}">View profile</a>
</div>

<div class="section">
<h3>My events</h3>
{% for event in user.events.all %}
<a href="{% url 'event' event.id %}">{{event.name}}</a>
    {% empty %}
    <p>You have not registered for any event yet</p>
{% endfor %}
</div>

<div class="section">
<h3>My submissions</h3>
{% for sub in user.submissions.all %}
<a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a>
    {% empty %}
    <p>You do not have any submission yet</p>
{% endfor %}
</div>
{% endblock %}
