{% extends 'base.html' %}


{% block content %}
<h1>{{event.name}}</h1>
{% if registered %}
<p>You have already registered for this event</p>
{% else %}
<a href="{% url 'registration-confirmation' event.id %}">Register for event</a>
{% endif %}

{% if submitted %}
<p>You have submitted your project already</p>
{% else %}
<a href="{% url 'project-submission' event.id %}">Submit project</a>
{% endif %}
<p>{{event.description}}</p>

<div>
<h3>Event participants</h3>
<div>
{% for user in event.participation.all %}
<div>
<strong>{{user.name}}</strong>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
