{% extends 'base.html' %}

{% block content %}

{% if page == 'login' %}

<h1>Login Page</h1>

<form method="POST" action={% url 'login' %}>
{% csrf_token %}

<div>
<label>Email:</label>
<input type="email" name="email"/>
</div>

<div>
<label>Pasword:</label>
<input type="password" name="password"/>
</div>


<div>
<input type="submit" value="login"/>
</div>
<p> Do not have an account? <a href="{% url 'register' %}">register</a></p>
</form>   
{% else %}
<h1>Register Page</h1>
<div>
<form method="POST" action="{% url 'register' %}">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="register" />
<p>Already have an account? </p><a href="{% url 'login' %}">Login here</a>
</form>
</div>
{% endif %}

{% endblock %}
